.container {
  margin: auto;
  margin-top: 5%;
}

.header-title {
  background-color: #dadada;
  text-align: center;
}

.header-title span {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  background-color: #646464;
  width: 7em;
  height: 1.5em;
  border-radius: 20px;
  margin: auto auto;
  color: #ffffff;
}

.body-description {
  background-color: #dadada;
  height: 4rem;
}

.body-description button {
  float: right;
}

.buttons {
  text-align: center;
  background-color: #dadada;
}

.footer {
  background-color: #dadada;
}